<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

  <title>About Me</title>  

<link href="./static/main.3f6952e4.css" rel="stylesheet"></head>
<link rel="stylesheet" type="text/css" href="./static/style.css" />

<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
 <!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <a href="./index.html" class="pull-left"><img src="./static/assets/images/favicon-32x32.png" alt=""></a>
          <li><a href="./index.html" title="">01 : Home</a></li>
          <li><a href="./works.html" title="">02 : Works</a></li>
          <li><a href="./about.html" title="">03 : About me</a></li>
          <li><a href="./contact.html" title="">04 : Contact</a></li>
        </ul>


      </div> 
    </div>
  </nav>
</header>

<div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="section-container-spacer text-center">
            <h1 class="h2">03 : About me</h1>
          </div>
          
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="row">
                <div class="col-xs-12 col-md-6" style="text-align: justify; text-justify: inter-word;">
                  <h3>Background</h3>
                  <p>I have just received my Bachelor's degree in Computer Science and Engineering from Rajshahi University of Enginnering and Technology in Rajshahi which is a prestigious engineering university in Bangladesh.
                     I am very passionate about programming and engineering, but above all I have a great deal of interest in learning something new. I primarily am a learner and very fond of complex systems that require
                     critical thinking skills and logic. As such, I am very flexible and have worked in different fields like web development and android app development. I have also worked on face detection apps for my university project and also published a paper on Network Security this year!</p>
                  <h3>Research Works </h3>
                  <p>As I like to invest my time in learning new things, I found researching on a certain topic very interesting and exhilarating. To be honest, out of all my courses in university I found network security, machine learning and deep learning to be very exciting.
                    To that end, I published a paper on Distributed Denial of Service or simply DDoS attack detection using Deep Learning techniques in IoT networks for which I had to study all my favorite courses. I would definitely like to research more on some other topics of 
                    network security including DDoS attacks and also possibly on AI in the future. The 'Works' tab in the website contains the details on my research paper.</p>
                  <h3>Graphic Design</h3>
                  <p>Graphic Design is one of my favorite hobbies as I like to design wallpapers for my friends and for personal uses. I have also worked on a few non profit projects where I designed flyers, logos and business cards over the past few years. I also have interest in UI/UX design and just enjoy
                  designs that just pleases people.</p>
                  <h3>What I would like to do going forward</h3>
                  <p>I want to invest my time in researching on network security; possibly also AI after that and attain a higher degree in this field. I also want to explore the field of Computer Science more and possibly settle down in one particular field after investing a little more time in exploration and research.</p>
                </div>
                <div class="col-xs-12 col-md-6 black-image-project-hover" style="text-align: justify; text-justify: inter-word;">
                  <img src="./static/assets/images/profile2.jpeg" class="img-responsive" alt="">
                  <h3 style="padding-top: 30px;">Curriculum Vitae</h3>
                    <p>You can download my CV from here and know more about my academic and professional background. Just click on the CV icon given below:</p>
                    <a href="./download.html" title="CV: M. S. Zaman Shabit"><img src="./static/assets/images/cv1.png" style="color: rgb(70, 46, 46); padding-top: 10px; width: 25%; height: 25%; margin-top: 10px; margin-left: 155px;"></i></a>
                </div>
              </div>
            </div>
          </div>
       </div>
      </div>
    </div>
  </div>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID 

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

--> <script type="text/javascript" src="./static/main.70a66962.js"></script></body>

</html>